img[alt]{
    height: 200px;
    width: 200px;
}

.color-title{
    font-weight: normal;
}

#red{
    color: red;
}

#blue{
    color: rgb(0, 140, 255);
}

#orange{
    color: orange;
}

#green{
    color: darkgreen;
}

#yellow{
    color: yellow;
}
