/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  border: 10px solid rgb(142, 12, 142);
}

.inner-box{
  background-color: red;
  padding: 10px;
}

.white-text{
  color: white;
}